
 <app-loading *ngIf="isLoading"></app-loading>
 <div class="modal-header" style="padding : 10px">
    <h6 class="modal-title" id="modal-basic-title">Contract Item - {{data.contract.poNo}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
    <div class="modal-body" style="font-size:12px">
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-6">
            <div>
                <label class="label"><span style="color:red">*</span>Item</label>
            </div>
            <div>
                <kendo-combobox
                  #itemList
                  style="width:100%"
                  [data]="items"
                  [(ngModel)] ="viewModel.mrpItem"
                  [filterable]="true"
                  textField="title"
                  valueField="id"></kendo-combobox>               
            </div>
        </div>
        
     <div class="col-md-6">
            <div>
              <label class="label"><span style="color:red">*</span> Quantity</label>
            </div>
            <div>
              <input type="text" [(ngModel)] ="viewModel.quantity" class="rose-form-control">                  
            </div>
     </div>
      </div>
      <div class="row"  style="padding-top: 10px;">
         <div class="col-md-6">  
            <div>
                <label class="label"> Price(Rial)</label>
            </div>
            <div>            
                <input type="text" [(ngModel)] ="viewModel.basePrice" class="rose-form-control">
            </div>      
          </div>
          <div class="col-md-6">  
              <div>
                  <label class="label"> Price(Curr.)</label>
              </div>
              <div>            
                  <input type="text" [(ngModel)] ="viewModel.currencyPrice" class="rose-form-control">
              </div>      
            </div>
      </div>
      <div class="row"  style="padding-top: 10px;">
         <div class="col-md-6">        
           <div>
             <label class="label">Currency Unit</label>
           </div>
           <div>
             <kendo-combobox
             #unitList
             style="width:100%"
             [data]="units"
             [(ngModel)] ="viewModel.currencyUnit"
             [filterable]="true"
             textField="title"
             valueField="id"></kendo-combobox>   
           </div>
          
       </div>
       <div class="col-md-6">        
        <div>
            <label class="label">ExchangeRate</label>
        </div>
        <div>            
            <input type="text" [(ngModel)] ="viewModel.exchangeRate" class="rose-form-control">
        </div>
       </div>
   
      </div>
      <div class="row" style="padding-top: 10px;">
      
         <div class="col-md-6">
          <div>
              <label class="label"> Terms Of Delivery</label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.termsOfDelivery" class="rose-form-control">                  
          </div>
        </div>
        <div class="col-md-6">        
            <div>
                <label class="label"> Installation Date</label>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [matDatepicker]="installationDatePicker"  [(ngModel)] ="viewModel.installationDate" >
                    <mat-datepicker-toggle matSuffix [for]="installationDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #installationDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
       
      </div>
      <div class="row" style="padding-top: 5px">
          <div class="col-md-12">
          <div>
              <label class="label">Description</label>
          </div>
          <div> 
              <input type="text" [(ngModel)] ="viewModel.description" class="rose-form-control">
          </div>      
       </div>
    </div>
  </div>
  
  <div class="modal-footer">
      <button *ngxPermissionsOnly="['saveContractItem']"  class="btn btn-success" (click)="save()">Save</button>
      <button mat-stroked-button (click)="closeDialog()">Cancel</button>
  </div>
  
  