<app-loading *ngIf="isLoading"></app-loading>
 <div class="modal-header" style="padding : 10px">
  <h5 class="modal-title" id="modal-basic-title">ProcumentItem</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="modal-body" style="font-size:12px">
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-6">
          <div>
              <label class="label"><span style="color:red">*</span> Title</label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.title" class="rose-form-control">                  
          </div>
      </div>
     
    <div class="col-md-6">        
      <div>
          <label class="label"><span style="color:red">*</span> Discipline</label>
      </div>
      <div>            
          <kendo-combobox
          style="width:100%"
          #categoryList
          [data]="categories"
          [(ngModel)] ="viewModel.decipline"
          [filterable]="true"
          textField="title"
          valueField="id"></kendo-combobox>   
      </div>
     </div>
    </div>
    <div class="row"  style="padding-top: 10px;">
      <div class="col-md-12">              
          <div>
              <label class="label"><span style="color:red">*</span> Description </label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.description" class="rose-form-control">
          </div>          
      </div>           
    </div>
    <div class="row"  style="padding-top: 10px;">
       <div class="col-md-6">        
         <div>
           <label class="label">Unit of Measure</label>
         </div>
         <div>
           <kendo-combobox
           #unitList
           style="width:100%"
           [data]="units"
           [(ngModel)] ="viewModel.unitOfMeasure"
           [filterable]="true"
           textField="title"
           valueField="id"></kendo-combobox>   
         </div>        
       </div>  
       <div class="col-md-6">
        <div>
            <label class="label"> Code</label>
        </div>
        <div>
            <input type="text" [(ngModel)] ="viewModel.code" class="rose-form-control">                  
        </div>
       </div>
    </div>
    
  </div>

<div class="modal-footer">
    <button *ngxPermissionsOnly="['saveItem']" class="btn btn-success" (click)="save()">Save</button>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
</div>

