<div class="modal-header" style="padding : 10px">
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form  name="form" #f="ngForm" (ngSubmit)="f.form.valid && save()" novalidate>
    <div class="modal-body" style="font-size:12px">
       
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
            <div>
                <label class="label"><span style="color:red">*</span>Username </label>
            </div>
            <div> 
                <input type="text" [(ngModel)] ="viewModel.username" name="username" class="rose-form-control"
                  #username="ngModel"  [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required >
            </div>
        </div>
      </div>
       <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
          
            <div>
                <label class="label"><span style="color:red">*</span> Old Password</label>
            </div>
            <div>
                <input type="password" [(ngModel)] ="viewModel.oldPassword" class="rose-form-control"
                name="oldPassword"  #oldPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required >
            </div>
         </div>
      </div>
      <div class="row" style="padding-top: 10px;">
        <div class="col-md-12">
          
            <div>
                <label class="label"><span style="color:red">*</span> New Password</label>
            </div>
            <div>
                <input type="password" [(ngModel)] ="viewModel.newPassword"  name="newPassword" class="rose-form-control" 
                 #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required >
            </div>
          </div>
        </div>
    </div>

  <div class="modal-footer">
      <button type="submit" class="btn btn-success">Save</button>
  </div>
  </form>

