<app-loading *ngIf="isLoading"></app-loading>
<div>
 <h6>Procurement Items</h6>
</div>
<div class="content">  
    <kendo-grid 
        [data]="gridView"
        [pageSize]="state.take"
        [skip]="state.skip"
        [sort]="state.sort"
        [filter]="state.filter"
        [sortable]="true"
        [filterable]="true"  
        [kendoGridSelectBy]="'id'"
        [selectedKeys]="selectionRows" 
        [pageable]="{
          buttonCount: 5,
          info: true,
          type: 'type',
          pageSizes: true,
          previousNext: true
        }"
        [scrollable]="'none'"
        [selectable]="{
          checkboxOnly: false,
          mode : 'single'
      }"     
        [groupable]="true"
        [group]="state.group"
        (dataStateChange)="dataStateChange($event)"
      >
      <ng-template kendoGridToolbarTemplate position="top">
          <button *ngxPermissionsOnly="['newItem']" (click)="new()" class="k-button grid-Button">Add Item</button>
          <button *ngxPermissionsOnly="['editItem']" (click)="edit()" class="k-button grid-Button">Edit Item</button>
          <button *ngxPermissionsOnly="['deleteItem']" (click)="delete()" class="k-button grid-Button">Delete Item</button>
      </ng-template>
      <kendo-grid-checkbox-column headerClass="grid-header" [width]="30"></kendo-grid-checkbox-column>
      <kendo-grid-column headerClass="grid-header" field="title" title="Name"></kendo-grid-column>
      <kendo-grid-column headerClass="grid-header" field="decipline.title" title="Discipline"></kendo-grid-column>
      <kendo-grid-column headerClass="grid-header" [width]="400" field="description" title="Description"></kendo-grid-column>
      <kendo-grid-column headerClass="grid-header" field="code" title="Code"></kendo-grid-column>     
      <kendo-grid-column headerClass="grid-header" field="unitOfMeasure.title" title="Unit Of Measure"></kendo-grid-column>
     
    </kendo-grid>
  </div>