<app-loading *ngIf="isLoading"></app-loading>
 <div class="modal-header" style="padding : 10px">
  <h5 class="modal-title" id="modal-basic-title">Project</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="modal-body" style="font-size:12px">
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-6">
          <div>
              <label class="label"><span style="color:red">*</span> Project Name</label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.projectName" class="rose-form-control">                  
          </div>
      </div>
     
    <div class="col-md-6">        
      <div>
          <label class="label"><span style="color:red">*</span> Primavera Project</label>
      </div>
      <div>            
          <kendo-combobox
          style="width:100%"
          #projectList
          [data]="projects"
          [(ngModel)] ="viewModel.projectP3"
          [filterable]="true"
          textField="title"
          valueField="id"></kendo-combobox>   
      </div>
     </div>
    </div>
    <div class="row"  style="padding-top: 10px;">
      <!-- <div class="col-md-6">              
          <div>
              <label class="label">Transmittal File Name </label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.transmittalName" class="rose-form-control">
          </div>          
      </div>      --> 
      <div class="col-md-6">              
        <div>
            <label class="label">Document Revision Prefix </label>
        </div>
        <div>
            <input type="text" [(ngModel)] ="viewModel.revisionPrefix" class="rose-form-control">
        </div>          
    </div>               
    </div>
    <div class="row"  style="padding-top: 10px;">
       <div class="col-md-2">
            <mat-checkbox  [(ngModel)] ="viewModel.isActive"> Active </mat-checkbox>
       </div>
       <div class="col-md-4">
           <mat-checkbox  [(ngModel)] ="viewModel.inPMISSystem"> Show in PMIS System </mat-checkbox>
       </div>
       <div class="col-md-3">
           <mat-checkbox  [(ngModel)] ="viewModel.isFeasibility"> Is Feasibility </mat-checkbox>
       </div>
       <div class="col-md-3">
           <mat-checkbox  [(ngModel)] ="viewModel.isTender"> Is Tender </mat-checkbox>
       </div>
    </div>
    <div class="row"  style="padding-top: 10px;">
        <div class="col-md-12">               
          <div>
             <label class="label"> Customers </label>
          </div>
          <div>
            <kendo-multiselect 
            #list
            style="width:100%"
            [allowCustom]="true"
            name ="item"
            [data]="customers"
            [filterable]="true"
            textField="customerName"
            valueField="customerId"
            [(ngModel)]="viewModel.projectCustomers">
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
                <span>{{dataItem.customerName + "   -   " + dataItem.customerType.title  }}</span>
              </ng-template>
           </kendo-multiselect>
          </div>
        </div>
      </div>
      <div class="row"  style="padding-top: 10px;">
        <div class="col-md-12">              
            <div>
                <label class="label">Data Center Path</label>
            </div>
            <div>
                <input type="text" [(ngModel)] ="viewModel.dataCenterPath" class="rose-form-control">
            </div>          
        </div> 
      </div>      
      <div class="row"  style="padding-top: 10px;">
        <div class="col-md-12">              
            <div>
                <label class="label">Report Project Title</label>
            </div>
            <div>
                <input type="text" [(ngModel)] ="viewModel.reportProjectTitle" class="rose-form-control">
            </div>          
        </div> 
      </div>    
      <div class="row"  style="padding-top: 10px;">
        <div class="col-md-12">              
            <div>
                <label class="label">Report Contract No</label>
            </div>
            <div>
                <input type="text" [(ngModel)] ="viewModel.reportContractNo" class="rose-form-control">
            </div>          
        </div> 
      </div>  
    
      <div class="row"  style="padding-top: 10px;">
        <div class="col-md-6">              
            <div>
                Reciever Logo  <input type="file" accept="image/*" (change)="onRecieverLogoChange($event)">
            </div>
            <div>
                <img src="{{viewModel.recieverLogo}}"  height="60" width="100">
            </div>          
        </div> 
        <div class="col-md-6">              
            <div>
                Sender Logo  <input type="file" accept="image/*" (change)="onSenderLogoChange($event)">
            </div>
            <div>
                <img src="{{viewModel.senederLogo}}"  height="60" width="100">
            </div>          
        </div> 
    
      </div>  
    </div>
                
    

<div class="modal-footer">
    <button class="btn btn-success" (click)="save()">Save</button>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
</div>

