<app-loading *ngIf="isLoading"></app-loading>
<div class="modal-header" style="padding : 10px">
  <h6 class="modal-title" id="modal-basic-title">Activities</h6>    
</div>
 
<div class="modal-body" style="font-size:12px">

  <div class="col-md-12">
    
    <div class="row"  style=" padding-top: 20px;">     
        <div class="col-md-12">
          <div>
            
           <kendo-treelist 
                 [kendoTreeListFlatBinding]="activities"  
                 kendoTreeListExpandable idField="id" 
                 parentIdField="parentId"  
                 kendoTreeListSelectable 
                 [selectable]="settings" 
                 [(selectedItems)]="selected"                
                 [height]="600">
               <ng-template kendoTreeListToolbarTemplate [position]="'top'">
                  <button *ngxPermissionsOnly="['newActivity']" (click)="new()" class="k-button grid-Button">Add Activity</button>
                  <button *ngxPermissionsOnly="['editActivity']" (click)="edit()" class="k-button grid-Button">Edit Activity</button>
                  <button *ngxPermissionsOnly="['deleteActivity']" (click)="delete()" class="k-button grid-Button">Delete Activity</button>
                </ng-template>

                  <kendo-treelist-checkbox-column [width]="35" >  </kendo-treelist-checkbox-column>
                  <kendo-treelist-column [expandable]="true" field="title" title="Title" [width]="250"></kendo-treelist-column>
                  <kendo-treelist-column field="code" title="Code" [width]="100"></kendo-treelist-column>
                  <kendo-treelist-column field="isMain" title="Is Main" [width]="100">
                    <ng-template kendoTreeListCellTemplate let-dataItem>       
                      <mat-checkbox disabled [checked] ="dataItem.isMain"></mat-checkbox>
                    </ng-template>
                  </kendo-treelist-column>
                  <kendo-treelist-column field="isProjectize" title="Is Projectize" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>       
                      <mat-checkbox disabled [checked] ="dataItem.isProjectize"></mat-checkbox>
                    </ng-template>
                  </kendo-treelist-column>
                  <kendo-treelist-column field="noneProjectize" title="None Projectize" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>       
                      <mat-checkbox disabled [checked] ="dataItem.noneProjectize"></mat-checkbox>
                    </ng-template>
                  </kendo-treelist-column>
                  <kendo-treelist-column field="isForTender" title="Is For Tender" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>       
                      <mat-checkbox disabled [checked] ="dataItem.isForTender"></mat-checkbox>
                    </ng-template>
                  </kendo-treelist-column>
                  <kendo-treelist-column field="isForFeasibility" title="Is For Feasibility" [width]="150">
                    <ng-template kendoTreeListCellTemplate let-dataItem>       
                      <mat-checkbox disabled [checked] ="dataItem.isForFeasibility"></mat-checkbox>
                    </ng-template>
                  </kendo-treelist-column>
           </kendo-treelist>
        </div> 
       </div>      
    </div>
  </div>
</div>