<app-loading *ngIf="isLoading"></app-loading>
<div class="modal-header" style="padding : 10px">
  <h6 class="modal-title" id="modal-basic-title">Create Planned Task</h6>
</div>

<div class="modal-body" style="font-size:12px">
  <mat-tab-group>
    <mat-tab *ngxPermissionsOnly="['addPlannedTaskComment']">
      <ng-template mat-tab-label>
        Create Rev "0"
      </ng-template>
      <div class="col-md-12" style="padding-top: 20px;">
        <div class="row">         
          <div class="col-md-3">
            <div>
              <label class="label">Due Date</label>
            </div>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="dueDatePicker" [(ngModel)]="dueDate">
                <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #dueDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div>
              <label class="label">Start Date</label>
            </div>
            <div>
              <mat-form-field>
                <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-6">
            <div>
              <label><br></label>
            </div>
            <div>
              <span><button style="width: 100px" class="btn btn-primary"
                  (click)="filterDocuments()">Filter</button></span>
              <span style="padding-left: 10px"><button style="width: 150px; padding-left: 20px" class="btn btn-success"
                  (click)="crteateTasks()">Create Task</button></span>
              <span style="padding-left: 10px"><button style="width: 200px; padding-left: 20px" class="btn btn-info"
                  (click)="addFileAndSave()">Attach File And Create</button></span>
            </div>

          </div>
        </div>
        <div class="row" style="padding-top: 10px;">
          <div class="col-md-12">
            <div class="content">
              <kendo-grid #grid [data]="gridView" [pageSize]="gridState.take" [skip]="gridState.skip"
                [sort]="gridState.sort" [pageable]="{
                    buttonCount: 20,
                    info: true,
                    type: 'type',
                    pageSizes: [20,50,100],
                    previousNext: true
                  }" [sortable]="true" [scrollable]="'none'" [kendoGridSelectBy]="'id'" [selectedKeys]="selectionRows"
                [selectable]="{
                    checkboxOnly: true,
                    mode : 'multiple'
                  }" [filterable]="true" [filter]="gridState.filter" [groupable]="true" [group]="gridState.group"
                (dataStateChange)="onStateChange($event)" (cellClick)="cellClickHandler($event)"
                (cellClose)="cellCloseHandler($event)" [navigable]="true">

                <kendo-grid-checkbox-column showSelectAll="true" headerClass="grid-header" [width]="40">
                </kendo-grid-checkbox-column>
                <kendo-grid-column headerClass="grid-header" width="170" field="documentNo" title="Document No"
                  editable='false'></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" field="documentTitle" editable='false'
                  title="Document Title"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" width="150" field="disciplineName" editable='false'
                  title="Discipline"></kendo-grid-column>

                <kendo-grid-column headerClass="grid-header" width="120" field="startDate" filter="date"
                  format="MM/dd/yyyy" editable='false' title="Start Date">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span>
                      {{dataItem.startDate | date}}
                    </span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" width="120" field="dueDate" filter="date"
                  format="MM/dd/yyyy" editable='false' title="Due Date">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <span>
                      {{dataItem.dueDate | date}}
                    </span>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" field="estimateManHour" width="100" editable='false'
                  title="Plan hour"></kendo-grid-column>
                <kendo-grid-column [filterable]="false" headerClass="grid-header" width="100" field="priority"
                  title="Priority">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    {{priority(dataItem.priority.id)?.title}}
                  </ng-template>
                  <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                    let-formGroup="formGroup">
                    <kendo-dropdownlist [data]="priorities" textField="title" valueField="id"
                      [formControl]="formGroup.get('priority')">
                    </kendo-dropdownlist>
                  </ng-template>
                </kendo-grid-column>
                <kendo-grid-column [filterable]="false" headerClass="grid-header" width="80" field="revision"
                  title="Revision"></kendo-grid-column>
              </kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab *ngxPermissionsOnly="['createPlannedTask']">
      <ng-template mat-tab-label>
        Create Next Rev
      </ng-template>
      <div class="col-md-12" style="padding-top: 20px;" *ngIf="subject.getState() != undefined">
        <app-create-next-rev-task [project]="subject.getState()"></app-create-next-rev-task>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>