<app-loading *ngIf="isLoading"></app-loading>
 <div class="modal-header" style="padding : 10px">
  <h5 class="modal-title" id="modal-basic-title">Customer</h5>
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

  <div class="modal-body" style="font-size:12px">
    <div class="row" style="padding-top: 10px;">
      <div class="col-md-6">
          <div>
              <label class="label"><span style="color:red">*</span> Customer Name</label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.customerName" class="rose-form-control">                  
          </div>
      </div>
     
    <div class="col-md-6">        
      <div>
          <label class="label"><span style="color:red">*</span> Customer Type</label>
      </div>
      <div>            
          <kendo-combobox
          style="width:100%"
          [data]="customerTypes"
          [(ngModel)] ="viewModel.customerType"
          textField="title"
          valueField="id"></kendo-combobox>   
      </div>
     </div>
    </div>
    <div class="row"  style="padding-top: 10px;">
      <div class="col-md-6">              
          <div>
              <label class="label">Contact Name </label>
          </div>
          <div>
              <input type="text" [(ngModel)] ="viewModel.contactName" class="rose-form-control">
          </div>          
      </div>      
      <div class="col-md-6">              
        <div>
            <label class="label">Tel </label>
        </div>
        <div>
            <input type="text" [(ngModel)] ="viewModel.tel" class="rose-form-control">
        </div>          
    </div>               
    </div>
    <div class="row"  style="padding-top: 10px;">
      <div class="col-md-12">              
        <div>
            <label class="label">Address </label>
        </div>
        <div>
            <input type="text" [(ngModel)] ="viewModel.address" class="rose-form-control">
        </div>          
    </div>       
    </div>
    
  </div>

<div class="modal-footer">
    <button class="btn btn-success" (click)="save()">Save</button>
    <button mat-stroked-button (click)="closeDialog()">Cancel</button>
</div>

