<app-loading *ngIf="isLoading"></app-loading>
 <div class="modal-header" style="padding : 10px">
    <h6 class="modal-title" id="modal-basic-title">TBEs - {{data.mrp.mrpNo}}/{{data.mrp.title}}</h6>
    <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
    <div class="modal-body" style="font-size:12px">
     
      <div class="row">
          <div class="col-md-5">
              <div>
                  <label class="label"><span style="color:red">*</span> TBE.No</label>
              </div>
              <div>
                <input type="text" (blur)="setFileUrl()" [(ngModel)] ="viewModel.tbeNo" class="rose-form-control">
                       
              </div>              
          </div>
          <div class="col-md-5">
              <div>
                  <label class="label"><span style="color:red">*</span> TBE Date</label>
              </div>
              <div>
                  <mat-form-field>
                      <input matInput [matDatepicker]="tbeDatePicker"  [(ngModel)] ="viewModel.tbeDate" >
                      <mat-datepicker-toggle matSuffix [for]="tbeDatePicker"></mat-datepicker-toggle>
                      <mat-datepicker #tbeDatePicker></mat-datepicker>
                    </mat-form-field>   
                       
              </div>              
          </div>
          <div class="col-md-2">
              <div>
                  <label><br></label>
              </div>
              <div>
                  <button class="btn btn-success" *ngxPermissionsOnly="['saveTBE']" (click)="save()">Save</button>
              </div>              
          </div>
      </div>
      <div class="row" style="padding-top: 10px;">   
          <div class="col-md-12">
              <div class="content">  
                  <kendo-grid #grid
                  [data]="gridView"
                  [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
                  [pageable]="{
                    buttonCount: 5,
                    info: true,
                    type: 'type',
                    pageSizes: true,
                    previousNext: true
                  }"
                   [sortable]="true"
                   [scrollable]="'none'"
                  (dataStateChange)="onStateChange($event)"
                  (cellClick)="cellClickHandler($event)"
                  (cellClose)="cellCloseHandler($event)"                  
                  [navigable]="true"
                >
               
                <kendo-grid-column headerClass="grid-header" field="vendorName" title="Vendor" editable='false'></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" field="ranking" editor="text" title="Ranking"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" field="isQualified" editor="boolean" title="IsQualified"></kendo-grid-column>
                <kendo-grid-column headerClass="grid-header" field="description" editor="text" title="Description"></kendo-grid-column>
              
              </kendo-grid>
                </div>
           </div>
          </div>
          <div class="row" style="padding-top: 10px;">   
            <div class="col-md-12">
               <kendo-upload
                    [saveUrl]="uploadSaveUrl"
                    [restrictions]="myRestrictions"
                    [withCredentials]="false"
                    [showFileList]="false"
                    [disabled]="viewModel.tbeNo == null || viewModel.tbeNo == undefined"
                    (success) = "successEventHandler($event)">
                </kendo-upload> 
              
            </div>
            <div class="col-md-12" *ngIf ="viewModel.fileName !== undefined && viewModel.fileName !== null">
               <div>Name: <a [href]="getPath()" target="_blank" title="Download">{{viewModel.fileName}}</a> Size: {{fileSizeFormat(viewModel.fileSize)}}
               <span style="padding:5px;"> <button *ngxPermissionsOnly="['saveCBE']" (click)="deleteFile()" class="k-button grid-Button">Delete File</button> </span></div>                            
            </div>
    
         </div>
  
  </div>
  