<mat-card>
  <mat-card-header>
    <h6 style="color: darkblue;">Procurement Documents</h6>
  </mat-card-header>  
  <mat-card-content>
    <div class="content" style="font-size:12px"> 
      <mat-tab-group>
        <mat-tab >
            <ng-template mat-tab-label> 
               Vendor Offers ({{vorCount}})
            </ng-template>
            <div class="col-md-12" style="padding-top: 10px;margin-bottom: 5px;" *ngIf="project != undefined">   
               <app-grid-document-dashboard [project] = "project" [type]="1" 
                         (sourcechanged)="onVorChanged($event)"></app-grid-document-dashboard>    
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label> 
                Vendor Documents ({{vdrCount}})
             </ng-template> 
            <div class="col-md-12" style="padding-top: 10px;margin-bottom: 5px;" *ngIf="project != undefined">   
                <app-grid-document-dashboard [project] = "project" [type]="2"  (sourcechanged)="onVdrChanged($event)"></app-grid-document-dashboard>
            </div>
        </mat-tab>
        <mat-tab *ngIf="hasIdc" label="Vendor IDCs"> 
            <ng-template mat-tab-label> 
                Vendor IDCs ({{idcCount}})
             </ng-template> 
            <div class="col-md-12" style="padding-top: 10px;margin-bottom: 5px;" *ngIf="project != undefined">   
                <app-grid-idc-dashboard [project] = "project" [type]="1" (idcChanged)="onIdcChanged($event)"></app-grid-idc-dashboard>
            </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>

</mat-card>