<app-loading *ngIf="isLoading"></app-loading>
<div>
  <h6>Event Confirm</h6>
</div>
<div class="content" style="font-size:12px">
  <kendo-grid #grid [data]="gridView" [sort]="state.sort" [sortable]="true" [scrollable]="'none'"
    [kendoGridSelectBy]="'id'" [selectedKeys]="selectionRows" [selectable]="{
    checkboxOnly: false,   
    mode : 'multiple'
   }" [filter]="state.filter" [filterable]="true" [groupable]="true" [group]="state.group"
    (dataStateChange)="dataStateChange($event)">
    <ng-template kendoGridToolbarTemplate position="top">
      <button *ngIf="isHRUser == false" (click)="changeState(true)" class="k-button grid-Button"><span
          class="k-icon k-i-check" style="color: green;"></span> Approve</button>
      <button *ngIf="isHRUser == false" (click)="changeState(false)" class="k-button grid-Button"><span
          class="k-icon k-i-close" style="color: red;"></span>Reject</button>
      <button *ngIf="isHRUser == true" (click)="HRRegister(true)" class="k-button grid-Button"><span
          class="k-icon k-i-check" style="color: green;"></span>ثبت کارگزینی</button>
      <button *ngIf="isHRUser == true" (click)="HRRegister(false)" class="k-button grid-Button"><span
          class="k-icon k-i-close" style="color: red;"></span>قابل ثبت نمی باشد</button>
      <button *ngIf="isHRUser == true" (click)="HRVacationCommented(1)" class="k-button grid-Button"><span
          class="k-icon k-i-check" style="color: green;"></span>مرخصی دارد</button>
      <button *ngIf="isHRUser == true" (click)="HRVacationCommented(2)" class="k-button grid-Button"><span
          class="k-icon k-i-close" style="color: red;"></span>مرخصی ندارد</button>
      <button *ngIf="isHRUser == true" (click)="HRVacationCommented(3)" class="k-button grid-Button"><span
          class="k-icon k-i-close" style="color: red;"></span>توافقی</button>

      <div class="rose-refresh-grid"> <i title="Refresh" (click)="getEvents()" class="fa fa-refresh fa-fw"></i> </div>
    </ng-template>
    <kendo-grid-checkbox-column headerClass="grid-header"  showSelectAll="true" [width]="10">
    </kendo-grid-checkbox-column>
    <kendo-grid-column [width]="20" headerClass="grid-header">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span><button (click)="viewEvent(dataItem)" class="k-button">View</button></span>
      </ng-template>
    </kendo-grid-column>
    
    <kendo-grid-column headerClass="grid-header" [width]="50" title="Code">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>
          {{dataItem.personelCode}}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="150" field="owner" title="Requested By"></kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="150" field="startDateJalali" title="Start Date">
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="150" field="endDateJalali" title="End Date">
    </kendo-grid-column>
    
    <kendo-grid-column headerClass="grid-header" [width]="100" field="eventTypeTitle" title="Event Type">
      <ng-template kendoGridGroupHeaderTemplate let-value="value" let-group="state.group" let-aggregates="aggregates">
        <input type="checkbox" (click)="groupCheckboxChange($event, value)" kendoCheckBox/> <p style="color:darkblue; padding-left: 10px;"> {{value}} - ({{aggregates["eventTypeTitle"].count}})</p>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="100" field="dailyVacationTypeTitle" title="Vacation Type">
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="120" field="project" title="Project"></kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="150" field="title" title="Title"></kendo-grid-column>  
    <kendo-grid-column headerClass="grid-header" [width]="170" field="currentStatus" title="Current State">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>
          {{getStateTitle(dataItem.currentStatus)}}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" [width]="30"  title="No.">
      <ng-template kendoGridCellTemplate let-dataItem>
        <span>
          {{dataItem.id}}
        </span>
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column headerClass="grid-header" field="description" title="Description"></kendo-grid-column>
    <!-- <kendo-grid-column headerClass="grid-header" [width]="50" field="duration" title="Req. Time"></kendo-grid-column>   -->
  </kendo-grid>
</div>