/* .k-checkbox {
    border: 1px solid darkblue !important;
} */
/* .k-checkbox {
    border-radius: 2px;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: initial;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;
    color: #656565;
    background-color: #fff;
    border: 1px solid darkblue !important;
} */
/* .k-checkbox {
    border-color: black !important ;
    color: #656565;
    background-color: #ffffff;
} */